<a href="https://colab.research.google.com/github/M-Waweru/ML_Unit/blob/master/PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LassoCV

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Nairobi Office Price Ex.csv to Nairobi Office Price Ex.csv

In [3]:
data = pd.read_csv('Nairobi Office Price Ex.csv')
data.head()

        LOC  FUR          AMB PROX_SCH  ... WATER HK_SER       SIZE      PRICE
0     karen  yes       serene       no  ...   yes    yes  32.502345  31.707006
1  madaraka  yes  semi_serene      yes  ...    no     no  53.426804  68.777596
2     karen   no        noisy       no  ...   yes    yes  61.530358  62.562382
3     karen  yes  semi_serene       no  ...   yes    yes  47.475640  71.546632
4  buruburu   no  semi_serene       no  ...   yes    yes  59.813208  87.230925

[5 rows x 10 columns]

In [7]:
data.head()

        LOC  FUR          AMB PROX_SCH  ... WATER HK_SER       SIZE      PRICE
0     karen  yes       serene       no  ...   yes    yes  32.502345  31.707006
1  madaraka  yes  semi_serene      yes  ...    no     no  53.426804  68.777596
2     karen   no        noisy       no  ...   yes    yes  61.530358  62.562382
3     karen  yes  semi_serene       no  ...   yes    yes  47.475640  71.546632
4  buruburu   no  semi_serene       no  ...   yes    yes  59.813208  87.230925

[5 rows x 10 columns]

In [9]:
nominal = ['LOC', 'FUR', 'WATER', 'HK_SER']
ordinal = ['AMB', 'PROX_SCH', 'PROX_ROAD', 'PROX_MALL']
numerical = ['SIZE']
target = ['PRICE']
categorical_data = data.select_dtypes(include=['object']).copy()
column_names = list(categorical_data.columns)

for feature in column_names:
  categorical_data[feature] = categorical_data[feature].astype('category')

for feature in ordinal:
  categorical_data[feature] = categorical_data[feature].cat.codes

categorical_data.head()

        LOC  FUR  AMB  PROX_SCH  PROX_ROAD  PROX_MALL WATER HK_SER
0     karen  yes    2         0          1          1   yes    yes
1  madaraka  yes    1         1          1          1    no     no
2     karen   no    0         0          1          1   yes    yes
3     karen  yes    1         0          0          0   yes    yes
4  buruburu   no    1         0          1          1   yes    yes

In [0]:
data_copy = categorical_data.copy()
data_copy = pd.concat([pd.get_dummies(data_copy[nominal], prefix='Estate'), data_copy], axis=1)
data_copy.drop(nominal, axis=1, inplace=True)

new_data = pd.concat([data_copy, data[numerical], data[target]], axis=1)

In [0]:
new_data.head()

   Estate_buruburu  Estate_donholm  ...       SIZE      PRICE
0                0               0  ...  32.502345  31.707006
1                0               0  ...  53.426804  68.777596
2                0               0  ...  61.530358  62.562382
3                0               0  ...  47.475640  71.546632
4                1               0  ...  59.813208  87.230925

[5 rows x 17 columns]

In [0]:
# Another way of converting a dataframe to a matrix
all_features = list(new_data.columns)
X = new_data.loc[:,].values
y = new_data.loc[:, ['PRICE']].values
# X

In [0]:
# Standardising the dataset
X = StandardScaler().fit_transform(X)
X

array([[-0.40824829, -0.40824829,  1.34164079, -0.52223297, -0.40824829,
        -0.74535599,  0.74535599, -0.74535599,  0.74535599, -0.74535599,
         0.74535599,  0.89802651, -1.        ,  0.8660254 ,  0.8660254 ,
        -2.28520557, -2.72264663],
       [-0.40824829, -0.40824829, -0.74535599, -0.52223297,  2.44948974,
        -0.74535599,  0.74535599,  1.34164079, -1.34164079,  1.34164079,
        -1.34164079, -0.3592106 ,  1.        ,  0.8660254 ,  0.8660254 ,
         0.40190153,  0.0124287 ],
       [-0.40824829, -0.40824829,  1.34164079, -0.52223297, -0.40824829,
         1.34164079, -1.34164079, -0.74535599,  0.74535599, -0.74535599,
         0.74535599, -1.61644772, -1.        ,  0.8660254 ,  0.8660254 ,
         1.44255533, -0.44613097],
       [-0.40824829, -0.40824829,  1.34164079, -0.52223297, -0.40824829,
        -0.74535599,  0.74535599, -0.74535599,  0.74535599, -0.74535599,
         0.74535599, -0.3592106 , -1.        , -1.15470054, -1.15470054,
        -0.36234362,  0.21672874],
       [ 2.44948974, -0.40824829, -0.74535599, -0.52223297, -0.40824829,
         1.34164079, -1.34164079, -0.74535599,  0.74535599, -0.74535599,
         0.74535599, -0.3592106 , -1.        ,  0.8660254 ,  0.8660254 ,
         1.22203988,  1.37391891],
       [-0.40824829,  2.44948974, -0.74535599, -0.52223297, -0.40824829,
         1.34164079, -1.34164079,  1.34164079, -1.34164079, -0.74535599,
         0.74535599,  0.89802651, -1.        , -1.15470054,  0.8660254 ,
         0.62219022,  0.70846532],
       [-0.40824829, -0.40824829, -0.74535599,  1.91485422, -0.40824829,
         1.34164079, -1.34164079,  1.34164079, -1.34164079, -0.74535599,
         0.74535599,  2.15526362,  1.        ,  0.8660254 , -1.15470054,
         0.24587098,  0.81400455],
       [-0.40824829, -0.40824829, -0.74535599,  1.91485422, -0.40824829,
        -0.74535599,  0.74535599, -0.74535599,  0.74535599,  1.34164079,
        -1.34164079,  0.89802651, -1.        , -1.15470054,  0.8660254 ,
        -1.41231026, -0.69631171],
       [-0.40824829,  2.44948974, -0.74535599, -0.52223297, -0.40824829,
        -0.74535599,  0.74535599, -0.74535599,  0.74535599,  1.34164079,
        -1.34164079, -0.3592106 ,  1.        , -1.15470054, -1.15470054,
        -0.28151616,  0.495958  ],
       [-0.40824829, -0.40824829,  1.34164079, -0.52223297, -0.40824829,
        -0.74535599,  0.74535599,  1.34164079, -1.34164079,  1.34164079,
        -1.34164079,  0.89802651, -1.        , -1.15470054, -1.15470054,
         0.28930471,  0.19859708],
       [-0.40824829, -0.40824829, -0.74535599, -0.52223297,  2.44948974,
        -0.74535599,  0.74535599, -0.74535599,  0.74535599, -0.74535599,
         0.74535599, -1.61644772,  1.        ,  0.8660254 , -1.15470054,
        -0.62636235, -0.99186131],
       [-0.40824829, -0.40824829, -0.74535599,  1.91485422, -0.40824829,
         1.34164079, -1.34164079, -0.74535599,  0.74535599, -0.74535599,
         0.74535599, -0.3592106 ,  1.        , -1.15470054,  0.8660254 ,
         0.52066778,  1.02330965],
       [ 2.44948974, -0.40824829, -0.74535599, -0.52223297, -0.40824829,
        -0.74535599,  0.74535599,  1.34164079, -1.34164079,  1.34164079,
        -1.34164079, -0.3592106 ,  1.        ,  0.8660254 , -1.15470054,
        -0.78761614, -0.48696528],
       [-0.40824829, -0.40824829,  1.34164079, -0.52223297, -0.40824829,
        -0.74535599,  0.74535599, -0.74535599,  0.74535599, -0.74535599,
         0.74535599, -0.3592106 ,  1.        ,  0.8660254 ,  0.8660254 ,
         1.01082367,  0.50050494]])

In [0]:
pca = PCA(n_components=2)
pc_s = pca.fit_transform(X)
pca_data = pd.DataFrame(pc_s, columns = ['PC_1', 'PC_2'])
final_data = pd.concat([pca_data, data[target]], axis=1)
final_data

        PC_1      PC_2      PRICE
0  -0.949207  3.278921  31.707006
1  -2.297029 -1.273714  68.777596
2   2.682650  1.824363  62.562382
3  -0.140739  1.828107  71.546632
4   3.068501 -0.085945  87.230925
5   2.076079 -2.470752  78.211518
6   1.611633 -2.885043  79.641973
7  -1.611303  0.172500  59.171489
8  -1.869082 -0.727396  75.331242
9  -2.122194 -1.331538  71.300880
10 -1.137147  2.049996  55.165677
11  2.715757 -0.531495  82.478847
12 -2.698942 -1.589861  62.008923
13  0.671022  1.741858  75.392870

In [0]:
# Indicates the percentage of data captured from the data by the PCAs
pca.explained_variance_ratio_

array([0.23829154, 0.19268058])

In [0]:
regressor = LassoCV()
X = final_data.drop('PRICE', axis=1)
y = final_data['PRICE']
regressor.fit(X, y)

LassoCV(alphas=None, copy_X=True, cv=None, eps=0.001, fit_intercept=True,
        max_iter=1000, n_alphas=100, n_jobs=None, normalize=False,
        positive=False, precompute='auto', random_state=None,
        selection='cyclic', tol=0.0001, verbose=False)